<!DOCTYPE html>
<html>
<head>
    <title>XIRR Calculator</title>
</head>
<body>
    <h2>XIRR Calculator</h2>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    
<form action="/" method="post" enctype="multipart/form-data">
        Upload your transaction files:<br>
        <input type="file" name="files" multiple><br><br>
        Enter current portfolio value:<br>
        <input type="text" name="portfolio_value"><br><br>
        <input type="submit" value="Calculate XIRR">
    </form>
</body>
</html>
